
*.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
*.pyc
*.pyc
*.pyc
*.obj
*.pyc
mupparimanam/settings.py
*.pyc
mupparimanam/__pycache__/settings.cpython-39.pyc
web/__pycache__/urls.cpython-39.pyc
*.pyc
