{% load static %}
<div class="footer-container fixed-bottom">
    <footer class="short-2" style="background-color: #880e4f">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <span class="text-white">© <text id="year"></text> Vivekanandhan - All Rights Reserved.</span>
                    <div class="display-4 text-white">
                        <a href="https://github.com/VivekanandhanD"><i class="fa fa-github w3-hover-opacity"></i></a>
                        <a href="https://www.facebook.com/blackstar.vvek/"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
                        <a href="https://www.instagram.com/vivek_anandhan_/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
                        <a href="https://twitter.com/BlackStar_Vvek"><i class="fa fa-twitter w3-hover-opacity"></i></a>
                        <a href="https://www.linkedin.com/in/dvivekanandhan/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>

    </footer>
</div>
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>