<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Mupparimanam.in</title>
    <link rel="stylesheet" type="text/css" media="all" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
    <link
      rel="stylesheet" type="text/css" media="all"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" />
    <style>
        body {
            background-color: #f5f7fa;
        }

        .pink.darken-4 {
          background-color: #880e4f;
        }

        .card-form .card-form-2 {
          -webkit-border-top-left-radius: 21px;
          border-top-left-radius: 21px;
          -webkit-border-top-right-radius: 21px;
          border-top-right-radius: 21px;
          margin-top: -35px;
        }

        .card-form .card-form-2 .pink-accent-text {
          color: #c51162;
        }
    </style>
</head>
<body>
<!--<h1>Website under construction</h1>-->
<!--Whatsapp: 9345366555 for contact-->
<div class="container">
<section class="mx-auto my-5" style="max-width: 23rem;">
<div class="card card-form mt-2 mb-4">
    <div class="card-body rounded pink darken-4">
        <h4 class="font-weight-bold text-center text-uppercase text-white my-4">Website under construction</h4>
        <div class="d-flex justify-content-center align-items-center mb-4 text-white">
            <i class="fab fa-whatsapp fa-lg fa-fw"></i>
            +91 9345366555
        </div>
    </div>
</div>
</section>
</div>
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
</body>
</html>