{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-lg">
<!-- Carousel wrapper -->
<div
  id="carouselBasicExample"
  class="carousel slide carousel-fade"
  data-mdb-ride="carousel"
>
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>

  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <img
        src="{% static 'img/M1.jpg' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img
        src="{% static 'img/M2.jpg' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img
        src="{% static 'img/V1.jpg' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <!-- Inner -->

  <!-- Controls -->
  <button
    class="carousel-control-prev"
    type="button"
    data-mdb-target="#carouselBasicExample"
    data-mdb-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-mdb-target="#carouselBasicExample"
    data-mdb-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->
<div id="upload-page-lin" class="row g-0 d-flex my-3">
  <div class="half-5 mt-4">
    <img
      src="{% static 'img/me1.jpg' %}"
      class="w-100"
      alt="..."
    />
  </div>
  <div class="half-4 ms-3 my-4">
    <h6>Download your own .OBJ file now</h6>
    <a href="/job-upload" class="mx-auto btn btn-success">Upload pictures now</a>
  </div>
</div>
</div>
{% endblock %}