{% extends "base.html" %}
{% load static %}
{% block content %}
<form action="{% url 'job-upload' %}" enctype="multipart/form-data" method="POST">
    {% for message in messages %}
    <div id="toast" role="alert" aria-live="assertive" aria-atomic="true" style="top:10vh;opacity:85%;right:2hw;z-index:10;"
         class="toast align-items-center text-white bg-danger position-absolute border-0 end-0">
        <div class="d-flex">
            <div class="toast-body">
                {{ message }}
            </div>
        </div>
    </div>
    <script>
        setTimeout(function(){
            $("#toast").fadeOut();
        }, 3000);

    </script>
    {% endfor %}
    <div class="container-lg" style="margin-bottom:500px;">
        <!--        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg" class="d-block w-100" alt="..."/>-->
        <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
            <!-- Indicators -->
            <div class="carousel-indicators">
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1" class="active" aria-current="true" aria-label="Slide 2"></button>
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2" class="active" aria-current="true" aria-label="Slide 3"></button>
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="3" class="active" aria-current="true" aria-label="Slide 4"></button>
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="4" class="active" aria-current="true" aria-label="Slide 5"></button>
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="5" class="active" aria-current="true" aria-label="Slide 6"></button>
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="6" class="active" aria-current="true" aria-label="Slide 7"></button>
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="7" class="active" aria-current="true" aria-label="Slide 8"></button>
            </div>
            <!-- Inner -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/me1.jpg' %}" class="d-block w-100" alt="..."/>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/M1.jpg' %}" class="d-block w-100" alt="..."/>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/M2.jpg' %}" class="d-block w-100" alt="..."/>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/G1.jpg' %}" class="d-block w-100" alt="..."/>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/V1.jpg' %}" class="d-block w-100" alt="..."/>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/V2.jpg' %}" class="d-block w-100" alt="..."/>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/V3.jpg' %}" class="d-block w-100" alt="..."/>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/V4.jpg' %}" class="d-block w-100" alt="..."/>
                </div>
            </div>
            <!-- Inner -->

            <!-- Controls -->
            <button
                    class="carousel-control-prev"
                    type="button"
                    data-mdb-target="#carouselBasicExample"
                    data-mdb-slide="prev"
            >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button
                    class="carousel-control-next"
                    type="button"
                    data-mdb-target="#carouselBasicExample"
                    data-mdb-slide="next"
            >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="row g-0 d-flex my-3">
            <div class="col-md-5 col-lg-5 col-xs-5 mt-4">
                <h5>Steps to be followed for best results:</h5>
                <ul>
                    <li>Take a portrait picture with whole body visible</li>
                        <ul>
                            <li>Cropped image don't give proper result</li>
                        </ul>
                    <li>Remove background</li>
                        <ul>
                            <li>Use photoshop or any suitable apps</li>
                            <li>Leaving the background white will give best result</li>
                        </ul>
                    <li>Medium quality is recommended</li>
                        <ul>
                            <li>No need for high quality image</li>
                            <li>image size not more than 1MB is recommended</li>
                            <li>.jpg, .jpeg, .png are the accepted file formats</li>
                        </ul>
                </ul>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-6 mt-4">
                <img src="{% static 'img/3M.jpg' %}" class="d-block w-100" alt="image."/>
            </div>
        </div>

        <div class="row g-0 d-flex my-3">
            <div class="col-md mt-4">
                <!--            <label class="form-label" for="customFile">Select Files</label>-->
                <img src="{% static 'img/tut.jpg' %}" class="d-block w-100" alt="Remove background and leave it to white, before upload your image."/>
            </div>
            <div class="col-md ms-3 my-5">
                {% csrf_token %}
                {{ form.file }}
<!--                <img src="" class="d-block w-100 position-relative" alt="Preview"/>-->
                <button type="submit" style="position:relative;top:5vh;"
                        class="btn btn-success btn-rounded position-relative start-50 translate-middle">
                    Submit
                </button>
            </div>
        </div>
        <div class="row g-0 d-flex my-3">
                <p>Once uploaded to the server, the image will be processed using opensource tool called,
                    <a href="https://shunsukesaito.github.io/PIFuHD/">PIFuHD</a> and the ouput .OBJ file will be ready
                    to download in the Job history page. Current waiting period 60 mins.</p>
            <img src="https://shunsukesaito.github.io/PIFuHD/resources/images/pifuhd.gif" class="d-block w-100 position-relative"/>
        </div>
    </div>
</form>
{% endblock %}